<h1 class="welcome"> <%= :Welcome %> </h1>
<p class="text">
Этот веб-сайт был создан для упрощения отбора студентов в компании для прохождения практики.
Компании могут просматривать странички всех студентов и предложить пройти практику.
Студенты же могут выбрать одно из предложений компаний.
<br/>
This website was created to simplify the selection of students in the company for internships.
Companies can view the pages of all students and offer them an internship.
Students can also choose one of the companies' offers.
</p>
